%h1= @user.email
%h2= "Cash: #{number_to_currency(@user.cash)}"

= form_for Stock.new, :remote => true do |f|
  = f.text_field :symbol, :placeholder => "symbol"
  = f.number_field :quantity, :placeholder => "quantity"
  = f.button "Buy", :type => "submit"

/= button_tag "Refresh", :id => "refresh_stocks"

%table#stocks
  = render :partial => "stocks_rows"